<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물작성폼</title>
</head>

<style>
    .layout{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout  input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<body>
<div class="layout">
    <h1>게시글 수정</h1>

    <!-- 제목과 내용 입력 필드 -->
    <label for="title">제목:</label>
    <input type="text" id="title" name="title">
    <br>

    <label for="content">내용:</label>
    <textarea id="content" name="content"></textarea>
    <br>

    <!-- 작성 버튼 -->
    <button onclick="submitPost()">수정</button>
</div>
<script>
    function submitPost() {
        let token = `${localStorage.getItem("accessToken")}`;
        if (!token) {
            alert('로그인 정보가 없습니다!');
            return;
        }

        let postId = parseInt(window.location.pathname.split("/").pop(), 10);

        if (isNaN(postId)) {  // ID가 숫자가 아닐 경우 오류 처리
            alert('잘못된 게시글 ID입니다.');
            return;
        }

        fetch(`/api/board/update/${postId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token,
            },
            body: JSON.stringify({
                title: document.getElementById('title').value,
                content: document.getElementById('content').value
            })
        })
            .then(response => {
                if (response.redirected) {
                    let absoluteUrl = new URL(response.url, window.location.origin).href;
                    window.location.href = absoluteUrl;  // 리디렉션 URL로 이동
                } else {
                    return response.json();  // 정상적인 응답 처리
                }
            })
            .then(data => {
                console.log('Success:', data);
                // 성공 시 처리
                window.location.href = '/api/board/list';  // 절대 경로로 이동
            })
            .catch(error => {
                console.error('Error:', error);
                // 에러 시 처리
                window.location.href = '/api/board/list';  // 절대 경로로 이동
            });
    }
</script>
</body>
</html>